<div class="e-msg"><%= devise_error_messages! %></div>
<nav class="large-12 columns bar">
  <div class="small-6 columns title">
    <li class="name">
      <a href="/" style="color: #9dbaf2; font-size: 20px;">Dapper</a>
    </li>
  </div>

  <div class="small-6 columns sign">
    <%- if current_user -%>
      <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li>Already a member?  <%= link_to 'Sign In', new_user_session_path %></li>
    <% end %>
  </div>
</nav>

<div class="devise">
  <div class="row">
    <div class="small-6 small-centered columns index-top">

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "small button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

    </div>
  </div>
</div>

<div class="index-bottom">
<%= image_tag("http://i.huffpost.com/gen/1283929/images/o-ONLINE-DATING-facebook.jpg") %>
</div>
